<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - Brand</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../../assets/css/styles.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://www.jqueryscript.net/css/jquerysctipttop.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: rgb(134,137,146);">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="./default">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-leaf"></i></div>
                    <div class="sidebar-brand-text mx-3"><span style="font-size: 14px;">首頁</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="aichart"><i class="fa fa-signal"></i><span style="font-size: 14px;">AI數據分析</span></a><a class="nav-link" href="schdule"><i class="fa fa-calendar-minus-o"></i><span style="font-size: 14px;">藥師服務排程</span></a><a class="nav-link" href="record"><i class="fa fa-medkit"></i><span style="font-size: 14px;">藥事服務紀錄</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item">
                        <% if (auth.isAdmin){%>
                        <a class="nav-link" href="phymanager"><i class="fa fa-user-md"></i><span style="font-size: 14px;">藥師會員管理</span></a>
                        <a class="nav-link" href="usermanager"><i class="fa fa-users"></i><span style="font-size: 14px;">一般會員管理</span></a>
                        <% } %>
                    </li>
                    <li class="nav-item">
                    <% if (auth.isPharmy){%>
                        <a class="nav-link" href="recordmanager"><i class="fa fa-medkit"></i><span style="font-size: 14px;">藥事服務管理</span></a>
                    <% } %>
                        <a class="nav-link" href="profile"><i class="fa fa-male"></i><span style="font-size: 14px;">個人資料管理</span></a>
                        <a class="nav-link" href="forgot-password"><i class="fas fa-key"></i><span style="font-size: 14px;">忘記密碼</span></a><a class="nav-link" href="login"><i class="far fa-user-circle"></i><span style="font-size: 14px;">登出</span></a></li>
                    <li class="nav-item"></li>
                    <% if (auth.isAdmin){%>
                    <li class="nav-item"><a class="nav-link" href="register"><i class="fas fa-user-circle"></i><span style="font-size: 14px;">註冊</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="404"><i class="fas fa-exclamation-circle"></i><span style="font-size: 14px;">404網站維護</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="blank"><i class="fas fa-window-maximize"></i><span style="font-size: 14px;">Blank Page</span></a></li>
                    <li class="nav-item"></li>
                    <% } %>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form
                            class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                            style="width: 300px;">
                            <div class="input-group">
                                <input class="bg-light form-control border-0 small" type="text"
                                    placeholder="Search for ..." style="font-size: 15px;">
                                <div class="input-group-append"></div>
                            </div>
                            <button class="btn btn-primary py-0" type="button" style="margin-left: 15px;"><i
                                    class="fas fa-search"></i>
                            </button>
                            <div></div>
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link"
                                    data-toggle="dropdown" aria-expanded="false" href="#"><i
                                        class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in"
                                    aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group">
                                            <input class="bg-light form-control border-0 small" type="text"
                                                placeholder="Search for ...">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary py-0" type="button"><i
                                                        class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        data-toggle="dropdown" aria-expanded="false" href="#"><span
                                            class="badge badge-danger badge-counter"
                                            style="font-size: 15px;">3+</span><i class="fas fa-bell fa-fw"
                                            style="font-size: 25px;"></i></a>
                                    <div
                                        class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a
                                            class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-primary icon-circle"><i
                                                        class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>A new monthly report is ready to download!</p>
                                            </div>
                                        </a><a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-success icon-circle"><i
                                                        class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>$290.29 has been deposited into your account!</p>
                                            </div>
                                        </a><a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-warning icon-circle"><i
                                                        class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2019</span>
                                                <p>Spending Alert: We've noticed unusually high spending for your
                                                    account.</p>
                                            </div>
                                        </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All
                                            Alerts</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        data-toggle="dropdown" aria-expanded="false" href="#"><i
                                            class="fas fa-user-check fa-fw" style="font-size: 20px;"></i><span
                                            class="badge badge-danger badge-counter"
                                            style="font-size: 15px;">7</span></a>
                                    <div
                                        class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a
                                            class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle"
                                                    src="../../assets/img/avatars/avatar4.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate">
                                                    <span>Hi there! I am wondering if you can
                                                        help me with a problem I've been having.
                                                    </span>
                                                </div>
                                                <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                            </div>
                                        </a><a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle"
                                                    src="../../assets/img/avatars/avatar2.jpeg">
                                                <div class="status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>I have the photos that you ordered last
                                                        month!</span></div>
                                                <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                            </div>
                                        </a><a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle"
                                                    src="../../assets/img/avatars/avatar3.jpeg">
                                                <div class="bg-warning status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Last month's report looks great, I am
                                                        very happy with the progress so far, keep up the good
                                                        work!</span></div>
                                                <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                            </div>
                                        </a><a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle"
                                                    src="../../assets/img/avatars/avatar5.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Am I a good boy? The reason I ask is
                                                        because someone told me that people say this to all dogs, even
                                                        if they aren't good...</span></div>
                                                <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                            </div>
                                        </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All
                                            Alerts</a>
                                    </div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-right"
                                    aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link"
                                        data-toggle="dropdown" aria-expanded="false" href="#">
                                        <span
                                            class="d-none d-lg-inline mr-2 text-gray-600 small"
                                            style="font-size: 15px;">
                                            <%="使用者:"%>
                                                <%=auth.user.email %>
                                        </span>
                                    </a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"><a
                                            class="dropdown-item" href="#"><i
                                                class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a
                                            class="dropdown-item" href="#"><i
                                                class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a><a
                                            class="dropdown-item" href="#"><i
                                                class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity
                                            log</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i
                                                class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">個人資料-Profile</h3>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4"
                                        src="../../assets/img/avatars/g158099006.jpg" width="160" height="160">
                                    <div class="mb-3"><button class="btn btn-primary btn-sm" type="button">ChangePhoto</button></div>

                                    <label for="address" style="margin-right: 5px;">
                                        <% if(auth.isAdmin) { %> <strong>身分別</strong>
                                            <% } %>
                                    </label>
                                    <% if(auth.isAdmin) { %>
                                        <select id="identif">
                                            <optgroup label="This is a group">
                                                <option value="patient" selected="">一般會員</option>
                                                <option value="Pharmacist">藥事人員</option>
                                            </optgroup>
                                        </select>
                                        <% } %>
                                </div>

                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary font-weight-bold m-0">Projects</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Title</h4>
                                    <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
                                        justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi
                                        porta gravida at eget metus.</p><a class="card-link" href="#">Link</a><a
                                        class="card-link" href="#">Link</a>
                                </div>
                                <div class="card-body">
                                    <h4 class="small font-weight-bold">Server migration<span
                                            class="float-right">20%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0"
                                            aria-valuemax="100" style="width: 20%;"><span class="sr-only">20%</span>
                                        </div>
                                    </div>
                                    <h4 class="small font-weight-bold">Sales tracking<span
                                            class="float-right">40%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0"
                                            aria-valuemax="100" style="width: 40%;"><span class="sr-only">40%</span>
                                        </div>
                                    </div>
                                    <h4 class="small font-weight-bold">Customer Database<span
                                            class="float-right">60%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0"
                                            aria-valuemax="100" style="width: 60%;"><span class="sr-only">60%</span>
                                        </div>
                                    </div>
                                    <h4 class="small font-weight-bold">Payout Details<span
                                            class="float-right">80%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0"
                                            aria-valuemax="100" style="width: 80%;"><span class="sr-only">80%</span>
                                        </div>
                                    </div>
                                    <h4 class="small font-weight-bold">Account setup<span
                                            class="float-right">Complete!</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0"
                                            aria-valuemax="100" style="width: 100%;"><span class="sr-only">100%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card"></div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card text-white bg-primary shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5%
                                                since last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-white bg-success shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5%
                                                since last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" id="Info">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">會員資訊-User Settings</p>
                                        </div>
                                        <div class="card-body">
                                            <form id="usersetForm">
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label
                                                                for="username">中文姓名-HumanName<br></label>
                                                            <input class="form-control" type="text" id="humanname"
                                                                placeholder="陳先生" name="name" required="">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label
                                                                for="email"><strong>電子郵(帳號)件-Email
                                                                    Address</strong></label>
                                                            <input class="form-control" type="email" id="email"
                                                                placeholder="user@example.com" name="email" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label
                                                                for="first_name"><strong>英文姓名-First
                                                                    Name</strong></label>
                                                            <input class="form-control" type="text" id="first_name"
                                                                placeholder="John" name="first_name" required="">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="last_name"><strong>英文姓名-Last
                                                                    Name</strong></label>
                                                            <input id="last_name" class="form-control" type="text"
                                                                placeholder="Doe" name="last_name" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label
                                                                for="gender"><strong>性別-Gender</strong><br></label>
                                                        </div>
                                                        <select class="form-control" id="gender" required="">
                                                            <optgroup label="This is a group">
                                                                <option value="male" selected="">男性</option>
                                                                <option value="female">女性</option>
                                                                <option value="other">第三性</option>
                                                            </optgroup>
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label
                                                                for="active"><strong>帳號控制-Active</strong><br>
                                                            </label>
                                                        </div>
                                                        <% if(auth.isAdmin) { %>
                                                        <select class="form-control" id="active" name="active">
                                                            <optgroup label="This is a group">
                                                                <option value="true">啟用</option>
                                                                <option value="false" selected="">停用</option>
                                                            </optgroup>
                                                        </select>
                                                        <% } %>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-row">
                                                        <div class="col"><label
                                                                for="Password"><strong>Password</strong></label><input
                                                                class="form-control" type="password" id="password"
                                                                placeholder="password" required=""><label><strong>Check
                                                                    Password</strong></label><input class="form-control"
                                                                type="password" placeholder="password_check"
                                                                required=""></div>
                                                    </div>
                                                </div>
                                                <!-- <button class="btn btn-primary btn-sm" type="submit">Save
                                                    Settings</button> -->
                                            </form>

                                        </div>
                                    </div>
                                    <div class="card shadow">
                                        <div class="card-header py-3" id="Contact">
                                            <p class="text-primary m-0 font-weight-bold">聯絡資訊-Contact Settings</p>
                                        </div>
                                        <div class="card-body">
                                            <form id="contactForm">
                                                <div class="form-group"><label
                                                        for="address"><strong>地址-Address</strong></label><input
                                                        class="form-control" type="text" id="address"
                                                        placeholder="Xinyi Dist, Rd" name="address" required=""></div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label
                                                                for="city"><strong>城市-City</strong></label><input
                                                                class="form-control" type="text" id="city"
                                                                placeholder="Taipei City" name="city" required=""></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label
                                                                for="country"><strong>國家-Country</strong></label><input
                                                                class="form-control" type="text" id="country"
                                                                placeholder="Taiwan (R.O.C.)" name="country"
                                                                required=""></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="homephone">市內電話<br></label>
                                                        </div><input class="form-control" type="tel" id="homephone"
                                                            placeholder="02-123456" name="homephone">
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label
                                                                for="cellphone"><strong>手機號碼</strong></label></div>
                                                        <input class="form-control" type="tel" id="cellphone"
                                                            placeholder="0900123456" name="telecom" required="">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="facebookid">臉書帳號<br></label>
                                                        </div><input class="form-control" type="text" id="facebookid"
                                                            required="" placeholder="ID">
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="lineid">Line帳號<br></label>
                                                        </div><input class="form-control" type="text" id="lineid"
                                                            required="" placeholder="ID">
                                                    </div>
                                                </div>
                                                <div class="form-group"><button class="btn btn-primary btn-sm"
                                                        type="submit">Save Settings</button></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if (auth.isPharmy){%>
                        <div class="card shadow mb-5">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold">其他</p>
                            </div>
                            <form id="pharmyinfo">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6" id="Certification">
                                            <div class="form-group">
                                                <p>專業證明-Qualification<br></p>
                                            </div>
                                            <strong>資格證書</strong>
                                            <input type="text" id="identifier" required="">
                                            <strong>證書字號</strong>
                                            <input type="text" id="code" required="">
                                            <strong>發證日期</strong>
                                            <input type="text" id="period" required="">
                                            <strong>發證單位</strong>
                                            <input type="text" id="Organization" required="">
                                        </div>
                                        <div class="col" id="another">
                                            <div class="form-group">
                                                <label for="signature"><strong>備註事項-Signature</strong><br></label>
                                                <textarea id="anothertext" class="form-control" rows="4" name="signature"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input  class="custom-control-input" type="checkbox" >
                                                    <label class="custom-control-label" for="formCheck-1">
                                                        <strong>Notify me about new replies </strong>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group"><button class="btn btn-primary btn-sm"  type="submit">Save Settings</button></div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
                    <% } %>
    </div>
    </div>
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"></div>
        </div>
    </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <span id="user_id" class="user_id" type="input" style="visibility:hidden" ><%=auth.user.user_id %></span>
    <span id="is_admin" class="is_admin" type="input" style="visibility:hidden" ><%=auth.isAdmin%></span>
    <span id="is_pharmy" class="is_pharmy" type="input" ><%=auth.isPharmy%></span>
    <span id="is_login" class="is_login" type="input"   ><%=auth.isLogin%></span>



    <% include ../shared/scripts %>
        <script src="../../assets/js/jquery.min.js"></script>
        <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../assets/js/chart.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.12.3.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="../../assets/js/script.min.js"></script>
        <!-- <script src="../../assets/js/profile.js"></script> -->
        <script src="../../assets/js/hl7fhirr4.js"></script>

        <script>
                var is_Admin=$('#is_admin').text();
                var is_login=$('#is_login').text();
                var is_pharmy=$('#is_pharmy').text();
                var persons=Person[0];
        $('#contactForm').submit(function (event) {
                event.preventDefault();

            if(is_Admin=="true"){
                    Person[0].identifier.type = $('#identif').val();
                    Person[0].active = $('#active').val();
                    // const persons=Person[0];
                    console.log('[Admin新增資料]:', persons);
            }else if(is_login=="true" && is_pharmy=="true"){
                    // Person[0].active = $('#active').val();
                    console.log('[新增User&&Pharmy資料]:', persons);
                    Person[0].active = "false";
                    Person[0].id=$('#user_id').text();
                    Person[0].name.text = $('#humanname').val();
                    Person[0].email = $('#email').val();
                    Person[0].name.given = $('#first_name').val();
                    Person[0].name.family = $('#last_name').val();
                    Person[0].gender = $('#gender').val();
                    Person[0].address.line = $('#address').val();
                    Person[0].address.city = $('#city').val();
                    Person[0].address.state = $('#country').val();
                    Person[0].telecom.use[0].home = $('#homephone').val();
                    Person[0].telecom.use[1].mobile = $('#cellphone').val();
                    Person[0].identifier.Facebook = $('#facebookid').val();
                    Person[0].identifier.Line = $('#lineid').val();
                    // console.log('[新增Pharmy證書資料]:', persons);
                $('#pharmyinfo').submit(function(event){
                    event.preventDefault();
                    console.log('[新增Pharmy證書資料]:', persons);
                    Person[0].qualification.identifier.value=$('#Certification #identifier').val();
                    Person[0].qualification.code.coding.display=$('#Certification #code').val();
                    Person[0].qualification.period.start=$('#Certification #period').val();
                    Person[0].qualification.issuer.display=$('#Certification #Organization').val();
                    Person[0].qualification.text=$('#another #anothertext').val();
                });
            }else if(is_login=="true" && is_pharmy=="false"){
                    console.log('[新增User資料]:', persons);
                    Person[0].active = "false";
                    Person[0].id=$('#user_id').text();
                    Person[0].name.text = $('#humanname').val();
                    Person[0].email = $('#email').val();
                    Person[0].name.given = $('#first_name').val();
                    Person[0].name.family = $('#last_name').val();
                    Person[0].gender = $('#gender').val();
                    Person[0].address.line = $('#address').val();
                    Person[0].address.city = $('#city').val();
                    Person[0].address.state = $('#country').val();
                    Person[0].telecom.use[0].home = $('#homephone').val();
                    Person[0].telecom.use[1].mobile = $('#cellphone').val();
                    Person[0].identifier.Facebook = $('#facebookid').val();
                    Person[0].identifier.Line = $('#lineid').val();
            }else{ 
                console.log('[什麼資料都沒有傳送]',is_login);
             };   

            //依不同角色傳送到後端新增基本資料 
            if(is_login=="true" && is_pharmy=="false")
            {
                axios
                .post('/Appointments/profile/createuser',persons)
                .then(res=>{
                    console.log("新增User資料成功",res.data);
                    window.location="./profile";
                })
                .catch(err => {
                    alert('新增失敗');
                    console.log(err)
                });
            }else if(is_login=="true" && is_pharmy=="true")
                {
                    window.alert("請輸入藥師證書");
                    console.log('[等待新增藥師基本資料]')
            }else{
                    console.log('[無新增任何會員資料]')
                };

    });


///以下僅為新增藥師證按鈕有用
        $('#pharmyinfo').submit(function(event){
                    event.preventDefault();
                    console.log('[僅新增Pharmy證書資料]:', persons);
                    Person[0].qualification.identifier.value=$('#Certification #identifier').val();
                    Person[0].qualification.code.coding.display=$('#Certification #code').val();
                    Person[0].qualification.period.start=$('#Certification #period').val();
                    Person[0].qualification.issuer.display=$('#Certification #Organization').val();
                    Person[0].qualification.text=$('#another #anothertext').val();

//依不同角色新增基本資料 
            axios
                .post('/Appointments/profile/Practitioner',persons)
                .then(res=>{
                    console.log("新增Practitioner資料成功",res.data);
                    window.location="./profile";
                })
                .catch(err => {
                    alert('新增失敗');
                    console.log(err)
                });
        });
        
        console.log('[資料準備傳送後端]:', persons);

         
//以下為新增角色使育(可刪除)
            //     if(is_Admin=="true"){
            //     axios
            //     .post('/Appointments/profile/createpharmacy',persons)
            //     .then(res=>{
            //         console.log("更改User角色為Pharmy成功",res.data);
            //         window.location="./profile";
            //     })
            //     .catch(err => {
            //         alert('新增失敗');
            //         console.log(err)
            //     });

            // }else if(is_login=="true" && is_pharmy=="false")
            // {
            //     axios
            //     .post('/Appointments/profile/createuser',persons)
            //     .then(res=>{
            //         console.log("新增User資料成功",res.data);
            //         window.location="./profile";
            //     })
            //     .catch(err => {
            //         alert('新增失敗');
            //         console.log(err)
            //     });
            // }else if(is_login=="true" && is_pharmy=="true")
            //     {
            //     axios
            //     .post('/Appointments/profile/Practitioner',persons)
            //     .then(res=>{
            //         console.log("新增Practitioner資料成功",res.data);
            //         window.location="./profile";
            //     })
            //     .catch(err => {
            //         alert('新增失敗');
            //         console.log(err)
            //     });

            //     }else {
            //         console.log('[無新增任何會員資料]')
            //     };
        </script>
</body>

</html>